<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script defer type="text/javascript" src="/js/admin.js"></script>
    <title>Alien Newsletter | Admin</title>
  </head>
  <body>
    <!-- <h1>Hi. I'm an alien admin.</h1> -->
    <header>
    	<h1 class="header">Alien Sightings NewsLetter</h1>
    </header>
    <main>
    	<table>
    		<tr>
    			<th class="text-left">First Name</th>
    			<th class="text-left">Last Name</th>
    			<th class="text-left">Email</th>
    			<th class="text-center">Abductions</th>
    			<th class="text-center">Area 51</th>
    			<th class="text-center">Alien News</th>
    			<th class="text-center">Pop Culture</th>
    		</tr>
    	</table>
    </main>
  </body>
</html>
