<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <sectiction class="signup">
        <section id="hero">
          <h1>Alien Chronicles: as told by Baby Yoda</h1>
          <h3>Dive deep into the bizarre, mysterious and spooky unknown.</h3>
        </section>
        <section id="forms">
          <h2>Sign up for our Newsletter!</h2>
          <img src="/images/#" alt="placeholder:log in with google" />
          <div class="divider">
            ————————————————————— Or —————————————————————
          </div>
        </section>
      </sectiction>
    </main>
  </body>
</html>
