<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap Dependency Scripts -->
    <script
      defer
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Custom Scripts -->
    <script defer src="/js/app.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <title>Alien Chronicles</title>
  </head>
  <body>
    <div class="container splash">
      <div class="row justify-content-center stack">
        <div class="col-md-5 hero">
          <h1>Alien Chronicles: as told by Baby Yoda</h1>

          <h4>Dive deep into the bizarre, mysterious and spooky unknown.</h4>
        </div>
        <div class="col-md-7 forms">
          <h2>Sign up for our Newsletter!</h2>
          <p>"Do or do not. There is no try."</p>

          <div class="row">*Google Link Placeholder*</div>
          <div class="row divider">
            <div class="spacer"></div>
            <p id="or">Or</p>
            <div class="spacer"></div>
          </div>
          <form class="needs-validation" id="subscriberForm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="First Name"
                  value=""
                  name="firstName"
                />
                <div class="invalid-feedback">
                  First name must be at least two characters long and contain no
                  special characters.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Last Name"
                  value=""
                  name="lastName"
                />
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email </label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                name="email"
              />
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            <div class="row selector">
              <p>
                How often?
              </p>
              <select id="frequency">
                <option value="daily">daily</option>
                <option value="weekly">weekly</option>
                <option value="monthly">monthly</option>
              </select>
            </div>
            <div class="row checkboxes">
              <p>Select topics you'd like to know more about:</p>
              <div class="col-md-6">
                <div class="checkbox-body custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="abductions"
                    value="abductions"
                  />
                  <label
                    class="checkbox-body custom-control-label"
                    for="abductions"
                    ><img src="/images/ufo.svg" />Abductions</label
                  >
                </div>
                <div class="checkbox-body custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="alienNews"
                    value="alienNews"
                  />
                  <label class="custom-control-label" for="alienNews"
                    ><img src="/images/spaceship.svg" />Alien News</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox-body custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="popCulture"
                    value="popCulture"
                  />
                  <label class="custom-control-label" for="popCulture"
                    ><img src="/images/alien2.svg" />Pop Culture</label
                  >
                </div>
                <div class="checkbox-body custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="areaFiftyOne"
                    value="areaFiftyOne"
                  />
                  <label class="custom-control-label" for="areaFiftyOne"
                    ><img src="/images/alien1.svg" />Area 51</label
                  >
                </div>
              </div>
            </div>
            <div class="sign-up input-group-sm custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="consent"
                value="consent"
              />
              <label class="custom-control-label" for="consent"
                >I agree to the terms and conditions and privacy policy
              </label>
              <button class="btn btn-secondary btn-sm" type="submit">
                Sign Up
              </button>
            </div>
          </form>
          <footer>
            <p>
              This site is protected by reCAPTCHA and the Google
              <a href="#">Privacy Policy</a> and
              <a href="#">Terms of Service</a> apply.
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
