@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
:root {
  /* Colors */
  --body-text: #000b0d;
  --cta: #3d6662;
  --background: #f8cdad;
  --whitespace: #f8f8f8;
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --regular: 400;
  --bold: 800;
  /* Shadows */
  --header-shadow: 1px 1px 5px black;
  --element-shadow: 1px 1px 5px black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cta);
  font-family: var(--primary-font);
  font-size: 18px;
}

h1 {
  margin-top: 19px;
  font-weight: var(--bold);
  text-align: center;
  font-size: 40px;
  color: var(--whitespace);
  text-shadow: var(--header-shadow);
  text-align: center;
}
h2 {
  font-weight: var(--bold);
  font-size: 25px;
}
h4 {
  color: var(--whitespace);
  text-align: center;
}
.splash {
  /* width: 100%; */
  width: 1244px;
  height: 790px;
  box-shadow: var(--element-shadow);
}
.hero {
  text-align: center;
  background-color: salmon;
  background-image: url("/images/temp_yoda.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.slogan {
  width: 70%;
  margin-bottom: 20px;
}
.forms {
  background-color: var(--whitespace);
  height: 790px;
  padding: 15px 30px;
}
.google-button {
  display: flex;
  justify-content: center;
}
.divider {
  display: flex;
  justify-content: center;
  line-height: 40px;
  padding-top: 20px;
}
.spacer {
  border-top: 1px solid #c4c4c4;
  width: 223px;
}
#or {
  margin-top: -18px;
  margin-left: 10px;
  margin-right: 10px;
}
.freq-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0px;
}
#frequency {
  margin-left: 20px;
}
.topics {
  /* margin-bottom: 20px; */
}
.checkboxes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.checkbox-body {
  height: 60px;
  /* text-align: center; */
}
.icon {
  margin: 0 10px;
}
.sign-up {
  margin: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.btn-sm {
  border-radius: 20px;
  margin-left: 130px;
}
.stack {
  position: relative;
}
footer {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding: 0 0 10px 10px;
}

.alert {
  color: salmon;
}

@media (max-width: 600px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
  }
  .stack {
    display: flex;
    flex-direction: column;
  }
  .splash {
    width: 100%;
  }
  .hero {
    height: 100vw;
    box-shadow: var(--element-shadow);
    z-index: 2;
  }
  .forms {
    height: 900px;
  }
  .divider {
    display: none;
  }
  .signup {
    display: block;
  }
  .btn {
    margin: 20px 0px;
  }
}
